@model NewsPublish.Model.Response.ResponseModel
@{
    ViewBag.Title = "评论管理";
}
<nav class="Hui-breadcrumb"><i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 新闻中心 <span class="c-gray en">&gt;</span> 评论管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="icon-refresh"></i></a></nav>
<div class="pd-20">

    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="80">ID</th>
                <th width="400">新闻标题</th>
                <th>评论内容</th>
                <th width="130">添加时间</th>
                <th width="200">备注</th>
                <th width="60">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr class="text-c">
                    <td>@item.Id</td>
                    <td>@item.NewsName</td>
                    <td>@item.Content</td>
                    <td>@item.AddTime</td>
                    <td>@item.Remark</td>
                    <td class="f-14"><a title="删除" href="javascript:;" onClick="del(this,@item.Id)" class="ml-5" style="text-decoration:none"><i class="icon-trash"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    <div id="pageNav" class="pageNav"></div>
</div>
@section Scripts{ 
    <script type="text/javascript">
        function reload() {
            location.replace(location.href);
        }

        function del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: "post",
                    async: true,
                    url: '/Admin/Comment/DelComment',
                    data: { id: id },
                    success: function (data) {
                        if (data.code == 200) {
                            layer.msg(data.result, 1);
                            reload();
                        } else {
                            layer.msg(data.result, 1);
                        }
                    }
                });
            });
        }
    </script>
}
